# Web local: http://127.0.0.1:3000
# Android Emulator: http://10.0.2.2:3000
# Expo Go en dispositivo fisico: reemplazar por http://IP_LAN_DEL_HOST:3000
EXPO_PUBLIC_API_URL=http://192.168.1.10:3000
EXPO_PUBLIC_APP_ENV=development
